.charles i{color: white;}
.gbenga ul li a{color:green;}
.gbenga ul li a:hover{color:black!important;
border-bottom: 2px solid black;}

/* jumbotron style */
.champion .jumbo-text{
   color: white;
   padding-top: 200px;
}

.champion .jumbo-text h6{
  color: white;
}

.champion .jumbo-text h1{

}
.champion .jumbo-text button a{
  color: white;
  padding: 20px;
}
section.what-we-offer h3{
  color: darkblue  ;
  padding: 20px;

}
section.what-we-offer p{
  text-align: center;
  padding: 15px;
}

 section.what-we-offer button a{
  color: white;
  padding: 20px;
  text-decoration: none;
}
